{% extends 'layoutsec.html' %}
{% block head %}
    <title>Halaman Cart</title>
{% endblock %}
{% block body %}
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold">{{cart|length}}</i> items in your cart
                    </p>
                    <table id="shoppingCart" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:60%">Product</th>
                            <th style="width:12%">Price</th>
                            <th style="width:10%">Quantity</th>
                            <th style="width:16%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for keranjang in cart %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img src="{{keranjang[9]}}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4>{{keranjang[6]}}</h4>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">Rp. {{keranjang[4]}}</td>
                                <td data-th="Quantity">
                                    <form method="POST" action="/updatecart/{{ keranjang[0] }}/{{keranjang[5]}}">
                                        <input type="number" name="quantity" class="form-control form-control-lg text-center" value="{{keranjang[3]}}">
                                </td>
                                <td class="actions" data-th="">
                                    <div class="d-flex align-items-center justify-content-end">
                                        <button class="btn btn-outline-secondary btn-md me-2">
                                            <i class="fas fa-sync"></i>
                                        </button>
                                        <a href="/delcart/{{ keranjang[0] }}" class="btn btn-outline-secondary btn-md">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-end">
                        <h4>Subtotal:</h4>
                        <h2></h1>Rp.</h1>{{total}}</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-md-6 text-end order-md-2">
                    <a href="/checkout" class="btn btn-primary mb-4 btn-lg">Checkout</a>
                </div>
                <div class="col-md-6 mb-3 mb-md-1 order-md-1 text-md-start">
                    <a href="guest">
                        <i class="fas fa-arrow-left me-2"></i> Continue Shopping
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
